/*
buttons are purplish and have border box
questions displayed are 
*/
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

ul {
    list-style: none;
}

.hide {
    display: none;
}

.button {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.option, #save-init-score {
    margin: 10px;
}

#answer-state {
    color: grey;
    border-top: 5px solid grey;
}

#scoreboard {
    background-color: lightgrey;
    border-radius: 10px;
    padding-right: 30px;
    display: flex
}



#scoreboard ol li {
    list-style: none;
    justify-content: center;
    border-color: black;
    border-style: dashed;
    margin-top: 15px;
    font-family: monospace;
}